{% extends "base.html" %}
{% block content %}
<div class="blogs-list">
    {% for blog in blogs %}
    <article class="blog-post {% if blog.featured %}featured{% endif %}">
        <img src="{{ url_for('static', filename='images/' ~ blog.image) }}" alt="{{ blog.title }}">
        <div class="content">
            <h2>{{ blog.title }}</h2>
            <p class="author">By {{ blog.author }}</p>
            <p class="snippet">{{ blog.snippet }}</p>
            {% if blog.featured %}
            <div class="featured-badge">⭐ Featured</div>
            {% endif %}
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}
